.container-slide-1 {
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 10px 50px 50px 50px;
}