.active{
    padding-left: 10px;
    color: rgb(204, 204, 204) !important;
    text-decoration: none !important;
}
.active:hover{
    color: rgb(255, 255, 255) !important;
}
.navlink-hover{
    color: rgb(255,255,255) !important;
    /* text-decoration: underline !important; */
}
.MuiButton-textInherit{
    color: white !important;
}
.navbar{
    background-color: rgba(0, 0, 0, 0) !important;
}