li{
    font-size: 18px;
}

.nav-Bar{
    background-color: black !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-nav a{
    color: white !important;
    font-size: 22px;
    margin-right: 15px;
    font-weight: 500;
}

.navbar-nav a:hover{
    text-decoration: underline;
}

.container-fluid{
    width:80vw !important;
    padding-top: 10px !important;
}
.Container{
    display:flex;
    justify-content: space-between;
}
.Buttons a{
    margin-right: 15px;
}
.active{
 text-decoration: underline;
}

@media screen and (max-width: 993px) {
    .Container{
        display:flex;
        flex-direction: column;
    }
    .Buttons a{
        margin-top: 15px;
    }
}